body
{
	margin: 0;
	padding: 0;
	background-image: url(../image/bg.jpg);
	background-size: cover;
}
.full
{
	width: 500px;
	height: 600px;
	background:rgba(244, 133, 181, 0.63);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
}
.imgfull
{
	background:rgba(133, 226, 244, 0.63);
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.menu
{
	position: relative;
	width:100%;
	height:auto;
	box-sizing: border-box;
}
ul
{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul li
{
	list-style: none;
	display: inline;
	float: left;
}
ul li a
{
	display: inline-block;
	width: 33.3%;
	height: 50px;
	line-height: 55px;
	text-align: center;
	text-decoration:none;
	margin-left: 100px;
	background:rgba(133, 226, 244, 0.63);

	
}
ul li a .fa
{
	margin:0 auto;
	color:rgba(133, 226, 244, 0.63);
	font-size: 30px;
	color: white;
}
ul li a.active
{
	background:rgba(133, 226, 244, 0.63);
}
ul li a.active .fa
{
	color: white;
}
ul li .box
{
	position: absolute;
	margin: 0 auto;
	display: none;
	padding: 20px;
	box-sizing: border-box;
	background:rgba(133, 226, 244, 0.63);
}
ul li .box h1
{
	margin: 0;
	padding: 0 0 15px;
	font-size: 30px;
	color: #fff;
	font-weight: normal; 
	border-bottom:2px solid #fff;
}
ul li .box h3
{
	font-size: 25px;
}
ul li .box p
{
	color: white;
}
ul li .box.active
{
	display: inline;
}
ul.icon li
{
	width: 100%;
	margin-top: 10px;
	position: relative;
	float: left;
	font-size: 18px;
}
